# Port configurations
AMONI_APP_PORT=3030  # Port for accessing the Anvil app
AMONI_DB_PORT=5432   # Port for accessing the PostgreSQL database

# Origin URL for the Anvil app
ORIGIN_URL=http://localhost:${AMONI_APP_PORT}  # Default localhost URL, can be changed for public domains

# Default database credentials
POSTGRES_USER=anvil
POSTGRES_PASSWORD=anvil
POSTGRES_DB=anvil
